extends layout

block content
    #card-1.row.mt-2
      each client, i in clientDetails
        .col-sm-6.col-md-4.col-lg-3
          .card.card-inverse.card-info
            img.card-img-top(src="/uploads/"+client.profilePic)
            .card-block
              h4.card-title #{client.fullName}
            .card-footer
              small Last updated 3 mins ago
              a.btn.btn-info.float-right.btn-sm(href="/admin/dashboard/singleclient/"+encodeURIComponent(admin._id)+"/"+encodeURIComponent(client.clientID)) View Details
        //- .col-sm-6.col-md-4.col-lg-3
        //-   .card.card-inverse.card-info
        //-     img.card-img-top(src="/admin/img/card/c-2.jpg")
        //-     .card-block
        //-       h4.card-title Brian Starf
        //-     .card-footer
        //-       small Last updated 3 mins ago
        //-       button.btn.btn-info.float-right.btn-sm View Details
        //- .col-sm-6.col-md-4.col-lg-3
        //-   .card.card-inverse.card-info
        //-     img.card-img-top(src="/admin/img/card/c-3.jpg")
        //-     .card-block
        //-       h4.card-title Ana Horsefall
        //-     .card-footer
        //-       small Last updated 3 mins ago
        //-       button.btn.btn-info.float-right.btn-sm View Details
        //- .col-sm-6.col-md-4.col-lg-3

    br.mb-5
