extends layout2

block content
        .content-inner.chart-cont
            // ***** CONTENT *****
            .row
                // ***** TIMELINE-1 *****
                #timeline-1.main-timeline
                    .timeline
                        .timeline-icon
                        .timeline-content
                            span.date Apr 2017 - Mar 2018
                            h5.title Cleaning Request
                            h5.title Ann Stacy (Read the description below)
                            p.description
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                            a.read-more(href="#") Accept
                    .timeline
                        .timeline-icon
                        .timeline-content
                            span.date Apr 2018 - Mar 2019
                            h5.title Cleaning Request
                            h5.title Ann Stacy (Read the description below)
                            p.description
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                            a.read-more(href="#") Accepted
                    .timeline
                        .timeline-icon
                        .timeline-content
                            span.date Apr 2018 - Mar 2019
                            h5.title Cleaning Request
                            h5.title Ann Stacy (Read the description below)
                            p.description
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                            a.read-more(href="#") Expired

