//
  author: Boostraptheme
  author URL: https://boostraptheme.com
  License: Creative Commons Attribution 4.0 Unported
  License URL: https://creativecommons.org/licenses/by/4.0/
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="robots" content="all,follow")
        title Kvet Sluzeb Admin Dashboard
        link(rel="shortcut icon" href="/img/favicon.png")
        // global stylesheets
        link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
        link(rel="stylesheet" href="/admin/css/bootstrap.min.css")
        link(rel="stylesheet" href="/admin/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/admin/css/font-icon-style.css")
        link#theme-stylesheet(rel="stylesheet" href="/admin/css/style.default.css")
        // Core stylesheets
        link(rel="stylesheet" href="/admin/css/ui-elements/card.css")
        link(rel="stylesheet" href="/admin/css/style.css")
        link(rel="stylesheet" href="/admin/css/profile.css")
        link(rel="stylesheet" href="/admin/css/apps/invoice.css")
        link(rel="stylesheet" href="/admin/css/apps/calendar.css")
        link(rel="stylesheet" href="/admin/css/pages/faq.css")
        link(rel="stylesheet" href="/admin/css/ui-elements/timeline.css")
        link(rel="stylesheet" href="/admin/css/ui-elements/card.css")
        script(type="text/javascript" src="https://cdn.weglot.com/weglot.min.js")
        script.
            Weglot.initialize({
            api_key: 'wg_67165334b2bc34d56bda185a04c28be70'
            });
    body
        //
            ====================================================
            MAIN NAVBAR
            ======================================================
        header.header
            nav.navbar.navbar-expand-lg
                .search-box
                    button.dismiss
                        i.icon-close
                    form#searchForm(action="#" role="search")
                        input.form-control(type="search" placeholder="Search Now")
                .container-fluid
                    .navbar-holder.d-flex.align-items-center.justify-content-between
                        .navbar-header
                            a.navbar-brand(href="index.html")
                                .brand-text.brand-big.hidden-lg-down
                                    img.img-fluid(src="/img/mainlogo.png" alt="Logo")
                                .brand-text.brand-small
                                    img.img-fluid(src="/admin/img/second_logo.png" alt="Logo")
                            a#toggle-btn.menu-btn.active(href="#")
                                span
                                span
                                span
                    ul.nav-menu.list-unstyled.d-flex.flex-md-row.align-items-md-center
                        // Expand
                        li.nav-item.d-flex.align-items-center.full_scr_exp
                            a.nav-link(href="#")
                                img.img-fluid(src="/admin/img/expand.png" onclick="toggleFullScreen(document.body)" alt="")
                        // Search
                        li.nav-item.d-flex.align-items-center
                            a#search.nav-link(href="#")
                                i.icon-search
                        // Notifications
                        li.nav-item.dropdown
                            a#notifications.nav-link(rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                i.fa.fa-bell-o
                                span.noti-numb-bg
                                span.badge 12
                            ul.dropdown-menu(aria-labelledby="notifications")
                                li
                                    a.dropdown-item.nav-link(rel="nofollow" href="#")
                                        .notification
                                        .notification-content
                                            i.fa.fa-envelope.bg-red
                                            | You have 6 new messages
                                        .notification-time
                                            small 4 minutes ago
                                li
                                    a.dropdown-item.nav-link(rel="nofollow" href="#")
                                        .notification
                                        .notification-content
                                            i.fa.fa-twitter.bg-skyblue
                                            | You have 2 followers
                                        .notification-time
                                            small 4 minutes ago
                                    a.dropdown-item.all-notifications.text-center(rel="nofollow" href="#")
                                        strong view all notifications

                        li.nav-item.dropdown
                            a#profile.nav-link.logout(data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                img.img-fluid.rounded-circle(src="/admin/img/avatar-2.jpg" alt="..." style="height: 30px; width: 30px;")
                            ul.dropdown-menu.profile(aria-labelledby="profile")
                                li
                                    a.dropdown-item.d-flex(rel="nofollow" href="#")
                                        .msg-profile
                                            img.img-fluid.rounded-circle(src="/admin/img/avatar-2.jpg" alt="...")
                                        .msg-body
                                            h3.h5 Admin
                                            span Admin
                                hr
                                li
                                    a.dropdown-item(rel="nofollow" href="#")
                                        .notification
                                        .notification-content
                                            i.fa.fa-user
                                            | My Profile
                                li
                                    a.dropdown-item(rel="nofollow" href="#")
                                        .notification
                                        .notification-content
                                            i.fa.fa-envelope-o
                                            | Inbox
                                li
                                    a.dropdown-item(rel="nofollow" href="/admin/pswd/pswdchange/"+admin._id"#")
                                        .notification
                                        .notification-content
                                            i.fa.fa-cog
                                            | Change Password
                                hr
                                li
                                    a.dropdown-item(rel="nofollow" href="/admin/login/logout")
                                        .notification
                                        .notification-content
                                            i.fa.fa-power-off
                                            | Logout
        //
            ====================================================
            PAGE CONTENT
            ======================================================
        .page-content.d-flex.align-items-stretch
            // ***** SIDE NAVBAR *****
            nav.side-navbar
                .sidebar-header.d-flex.align-items-center
                    .avatar
                        img.img-fluid.rounded-circle(src="/admin/img/avatar-2.jpg" alt="...")
                    .title
                        h1.h4 Admin
                hr
                // Sidebar Navidation Menus
                ul#sidenav.list-unstyled
                    li.linking
                        a(href="/admin/dashboard/"+admin._id)
                            i.icon-home
                            | Home
                    li.linking
                        a(href="#")
                            i.fa.fa-bar-chart
                            | Software Analytics
                    li.linking
                        a(href="/admin/dashboard/clients/"+admin._id)
                            i.fa.fa-user-o
                            | All Clients
                    li.linking
                        a(href="/admin/dashboard/cleaners/"+admin._id)
                            i.fa.fa-user-o
                            | All Cleaners
                    li.linking
                        a(href="/admin/dashboard/requests/"+admin._id)
                            i.fa.fa-map-o
                            | Job Offers
                    li.linking
                        a(href="/admin/dashboard/transactions/"+admin._id)
                            i.icon-grid
                            | All Transactions
                    li.linking
                        a(href="/admin/login/logout")
                            i.fa.fa-power-off
                            | Logout
            block content


    // Global Javascript
    script(src="/admin/js/jquery.min.js")
    script(src="/admin/js/popper/popper.min.js")
    script(src="/admin/js/tether.min.js")
    script(src="/admin/js/bootstrap.min.js")
    script(src="/admin/js/jquery.cookie.js")
    script(src="/admin/js/jquery.validate.min.js")
    script(src="/admin/js/chart.min.js")
    script(src="/admin/js/front.js")
    script(src="/js/active.js")
    //- script(src="/admin/js/activepages.js")
    //navbar
    script(type="text/javascript").
      $(document).ready(function () {
      var url = window.location;
      $('ul.link-unstyled a[href="'+ url +'"]').parent().addClass('active');
      $('ul.link-unstyled li').filter(function() {
      return this.href == url;
      console.log(this.href);
      }).parent().addClass('active');
      });
    // Core Javascript
    script(src="/admin/js/mychart.js")
    script.
        new Chart(document.getElementById("myChart-nav").getContext('2d'), {
        type: 'doughnut',
        data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [{
        backgroundColor: [
        "#2ecc71",
        "#3498db",
        "#95a5a6",
        "#9b59b6",
        "#f1c40f",
        "#e74c3c",
        "#34495e"
        ],
        data: [12, 19, 3, 17, 28, 24, 7]
        }]
        },
        options: {
        legend: { display: false },
        title: {
        display: true,
        text: ''
        }
        }
        });
    // Calendar Core Javascript
    script.
      new Chart(document.getElementById("myChart4").getContext('2d'), {
      type: 'doughnut',
      data: {
      labels: ["M", "T", "W", "T", "F", "S", "S"],
      datasets: [{
      backgroundColor: [
      "#2ecc71",
      "#3498db",
      "#95a5a6",
      "#9b59b6",
      "#f1c40f",
      "#e74c3c",
      "#34495e"
      ],
      data: [12, 19, 3, 17, 28, 24, 7]
      }]
      },
      options: {
      legend: { display: false },
      title: {
      display: true,
      text: ''
      }
      }
      });
    script.
      var d = new Date();
      var todaysDate = d.getDate();
      var target = $('#calendar .week .day .date');
      target.each(function() {
      var day = $(this).html();
      if (todaysDate == day) {
      $(this).addClass('today');
      }
      if (todaysDate < day) {
      $(this).parent().addClass('future');
      }
      if (todaysDate >= day) {
      $(this).parent().addClass('past')
      }
      });
      // handle clicks on days
      $('.day').click(function() {
      if ($(this).hasClass('future')) {
      $('#modal').addClass('active');
      $('#modal .wrapper .content .box').html("<h2>Naughty, naughty.</h2> <p>You can't look early! Check back on that day to see what I've left for you.</p>");
      }
      if ($(this).hasClass('past')) {
      var content = $(this).children('.surprise').html();
      $('#modal').addClass('active');
      $('#modal .wrapper .content .box').html('');
      $('#modal .wrapper .content .box').html(content);
      }
      })
      // close modal
      $('.close').click(function() {
      var ultimateParent = $(this).parent().parent().parent();
      ultimateParent.addClass('moveOut');
      setTimeout(function() {
      ultimateParent.removeClass('moveOut').removeClass('active');
      }, 250);
      })
      // snow effect customizations
      $(document).snowfall({ flakeCount: 100, collection: '.collectonme', maxSpeed: 10 });

    //Request Timeline Core Javascript
    script.
        new Chart(document.getElementById("myChart-nav").getContext('2d'), {
        type: 'doughnut',
        data: {
        labels: ["M", "T", "W", "T", "F", "S", "S"],
        datasets: [{
        backgroundColor: [
        "#2ecc71",
        "#3498db",
        "#95a5a6",
        "#9b59b6",
        "#f1c40f",
        "#e74c3c",
        "#34495e"
        ],
        data: [12, 19, 3, 17, 28, 24, 7]
        }]
        },
        options: {
        legend: { display: false },
        title: {
        display: true,
        text: ''
        }
        }
        });


