extends layout

block content
        .content-inner.chart-cont
            // ***** CONTENT *****
            .container
                .row
                    .col-md-4
                        nav.nav.vert-tab.flex-column
                            a.nav-link.tab-faq.js-scroll-trigger.active(href="#FAQ1")
                                h3
                                    i.fa.fa-user-o
                                    |  Dashboard Usage
                                small Click to view
                            a.nav-link.js-scroll-trigger.tab-faq(href="#FAQ2")
                                h3
                                    i.fa.fa-credit-card
                                    |  Finance
                                small Click to view
                            a.nav-link.js-scroll-trigger.tab-faq(href="#FAQ3")
                                h3
                                    i.fa.fa-refresh
                                    |  Cleaner and Cleaning
                                small Click to view
                            //- a.nav-link.js-scroll-trigger.tab-faq(href="#FAQ4")
                            //-     h3
                            //-         i.fa.fa-circle-o-notch
                            //-         |  Troll Question
                            //-     small Lorem Ipsum text shadow
                            //- a.nav-link.js-scroll-trigger.tab-faq(href="#FAQ4")
                            //-     h3
                            //-         i.fa.fa-leaf
                            //-         |  Troll Question
                            //-     small Lorem Ipsum text shadow
                    .col-md-8
                        #FAQ1.faq-cont
                            .faq-heading-cont
                                h3
                                    i.fa.fa-user
                                    |  Dashboard Usage
                            #accordion-1.panel-group
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-1" href="#faq-sub-cat1-1")
                                            h4.panel-title
                                                | How can I change my personal information such as address, telephone number, e-mail address?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub-cat1-1.panel-collapse.collapse
                                        .panel-body
                                        | Just login to your profile and click on edit profile.

                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-1" href="#faq-sub-cat1-7")
                                            h4.panel-title
                                                | How can I delete my profile?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub-cat1-7.panel-collapse.collapse
                                        .panel-body
                                        |  You no longer want to order from květ and want to delete your profile? Send us a message requesting a data deletion with the email address registered with us: info@kvetsluzeb.com.
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-1" href="#faq-sub-cat1-8")
                                            h4.panel-title
                                                | What happens to my data after deleting the data?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub-cat1-8.panel-collapse.collapse
                                        .panel-body
                                        | As soon as you have sent us an e-mail asking you to delete your profile, the process of deletion is initiated. In individual cases, however, this process can take up to 3 months.
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-1" href="#faq-sub-cat1-9")
                                            h4.panel-title
                                                | Additional Information about deleting data
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub-cat1-9.panel-collapse.collapse
                                        .panel-body
                                        | If the conditions for the deletion of your data are present, you will receive a new message or confirmation of the deletion.
                                        | Please note that deletion of your data is only possible if:
                                        br
                                        | a)	all outstanding invoices have been processed,
                                        | b)	no open collection procedures exist,
                                        | c)	no claim notification is in progress,
                                        | d)	other clarifications regarding customer feedback are still pending, and
                                        | e)	There are no more recommendations in the activation process.
                                        br
                                        | If none of these points are open, your data will be removed from the system and you will receive a new message with the final confirmation of deletion.
                                        | However, if there are currently active invoice requests, we ask you to edit them immediately. Otherwise these invoices will automatically be canceled after a period of 21 days (this may result in cancellation fees / processing fees) and the contractual relationship between you and květ služeb ends.
                                        | In addition, we point out that after the data deletion you no longer have access to the květ platform and thus the invoices for your tax return are no longer available. We recommend that you download all invoices already

                        br
                        #FAQ2.faq-cont
                            .faq-heading-cont
                                h3
                                    i.fa.fa-credit-card-alt
                                    |  Finance Questions
                            #accordion-2.panel-group
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-2" href="#faq-sub-cat2-1")
                                            h4.panel-title
                                                | How do I Pay for cleaning services?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub-cat2-1.panel-collapse.collapse
                                        .panel-body
                                        | After every successful and completed clean, you can pay by opening your finance page and click on the checkout button. Your card details would be requested and a pin.


                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-2" href="#faq-sub-cat2-3")
                                            h4.panel-title
                                                | May I pay cash?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub-cat2-3.panel-collapse.collapse
                                        .panel-body
                                        | Unfortunately, you cannot pay cash. All cleaning jobs provided through květ are handled through the platform. Payments of the customers are made exclusively cashless. Otherwise, invoicing and processing via the květ platform is not possible.
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-2" href="#faq-sub-cat2-4")
                                            h4.panel-title
                                                | How do I cancel my cleaning schedule?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub-cat2-4.panel-collapse.collapse
                                        .panel-body
                                        | Go to your schedule page and check for the date of the schedule to be canceled and click on cancel schedule.

                                //- .panel.panel-default.panel-faq
                                //-     .panel-heading
                                //-         a(data-toggle="collapse" data-parent="#accordion-2" href="#faq-sub-cat2-5")
                                //-             h4.panel-title
                                //-                 | FAQ Item Category #5
                                //-                 span.pull-right
                                //-                     i.fa.fa-plus
                                //-     #faq-sub-cat2-5.panel-collapse.collapse
                                //-         .panel-body
                                //-         | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        br
                        #FAQ3.faq-cont
                            .faq-heading-cont
                                h3
                                    i.fa.fa-refresh
                                    |  Cleaner and Cleaning Issues
                            #accordion-3.panel-group
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-3" href="#faq-sub3-1")
                                            h4.panel-title
                                                | Do I need to do anything before my cleaner arrives?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub3-1.panel-collapse.collapse
                                        .panel-body
                                        | Every customer is different and if it’s the cleaner’s first visit to your home, it’s good to give them some guidance. Ideally, jot down a list of cleaning priorities for your cleaner (you can do it per room, or for your entire home). This will help them to focus on the areas that are important to you. When your cleaner arrives, give them a tour and highlight your priorities and any fragile surfaces or items. Don’t forget to show the cleaner where to find your cleaning products and if you have any preferences or surfaces that need special care, make sure to let your cleaner know.
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-3" href="#faq-sub3-2")
                                            h4.panel-title
                                                | Do I need to be home for the booking?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub3-2.panel-collapse.collapse
                                        .panel-body
                                        | We strongly recommend that you are home for the first clean of your booking to show your cleaner around. Some customers choose to give a spare key to their cleaner, but this decision is based on individual preferences. Please remember that Helpling takes no part in the key-handling process
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-3" href="#faq-sub3-3")
                                            h4.panel-title
                                                | What cleaning supplies do I have to provide?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub3-3.panel-collapse.collapse
                                        .panel-body
                                        | We recommend to have the following cleaning supplies at home:
                                        | 	Vacuum cleaner and a mop
                                        | 	Cleaning cloths x 4
                                        | 	Feather duster
                                        | 	Scratch-free sponge
                                        | 	Toilet Cleaner
                                        | 	Limescale remover
                                        | 	All-Purpose cleaner
                                        | 	Fat solvent
                                        | 	Further cleaning supplies are required for additional cleaning services, such as:
                                        | Interior window cleaning: Glass cleaner
                                        | Oven cleaning: Oven cleaner and sponge
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-3" href="#faq-sub3-4")
                                            h4.panel-title
                                                | What if I don't like my cleaner?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub3-4.panel-collapse.collapse
                                        .panel-body
                                        | Yes, in the unlikely event of damage, you do not have to worry as you are protected from any serious harm. All cleaners are covered by a liability insurance which covers all damages above €350. For damages below €350 or the first €350 of any larger damage, you can of course always directly reach out to the cleaner involved and align with him or her on the compensation that you may expect from them. You can find the cleaner's contact details in the confirmation email that you received prior to the cleaning. To ensure a smooth reimbursement process for the insurance relevant cases above €300, please contact us via this form.
                                .panel.panel-default.panel-faq
                                    .panel-heading
                                        a(data-toggle="collapse" data-parent="#accordion-3" href="#faq-sub3-5")
                                            h4.panel-title
                                                | Are the cleaners insured in case of damages?
                                                span.pull-right
                                                    i.fa.fa-plus
                                    #faq-sub3-5.panel-collapse.collapse
                                        .panel-body
                                        | Pay attention to the date, time, duration, frequency and distance before accepting. As soon as you have accepted the cleaning offer bindingly, the customer will be informed directly by notification about your commitment.
                            //-    .panel.panel-default.panel-faq
                            //-         .panel-heading
                            //-             a(data-toggle="collapse" data-parent="#accordion-3" href="#faq-sub3-6")
                            //-                 h4.panel-title
                            //-                     | Hint for Offers
                            //-                     span.pull-right
                            //-                         i.fa.fa-plus
                            //-         #faq-sub3-6.panel-collapse.collapse
                            //-             .panel-body
                            //-             | Pay at
                        //- br
                        //- #FAQ4.faq-cont
                        //-     .faq-heading-cont
                        //-         h3
                        //-             i.fa.fa-dot-circle-o
                        //-             |  Troll Question
                        //-     #accordion-4.panel-group
                        //-         .panel.panel-default.panel-faq
                        //-             .panel-heading
                        //-                 a(data-toggle="collapse" data-parent="#accordion-4" href="#faq-sub4-1")
                        //-                     h4.panel-title
                        //-                         | FAQ Item Category #1
                        //-                         span.pull-right
                        //-                             i.fa.fa-plus
                        //-             #faq-sub4-1.panel-collapse.collapse
                        //-                 .panel-body
                        //-                 | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        //-         .panel.panel-default.panel-faq
                        //-             .panel-heading
                        //-                 a(data-toggle="collapse" data-parent="#accordion-4" href="#faq-sub4-2")
                        //-                     h4.panel-title
                        //-                         | FAQ Item Category #2
                        //-                         span.pull-right
                        //-                             i.fa.fa-plus
                        //-             #faq-sub4-2.panel-collapse.collapse
                        //-                 .panel-body
                        //-                 | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        //-         .panel.panel-default.panel-faq
                        //-             .panel-heading
                        //-                 a(data-toggle="collapse" data-parent="#accordion-4" href="#faq-sub4-3")
                        //-                     h4.panel-title
                        //-                         | FAQ Item Category #3
                        //-                         span.pull-right
                        //-                             i.fa.fa-plus
                        //-             #faq-sub4-3.panel-collapse.collapse
                        //-                 .panel-body
                        //-                 | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        //-         .panel.panel-default.panel-faq
                        //-             .panel-heading
                        //-                 a(data-toggle="collapse" data-parent="#accordion-4" href="#faq-sub4-4")
                        //-                     h4.panel-title
                        //-                         | FAQ Item Category #4
                        //-                         span.pull-right
                        //-                             i.fa.fa-plus
                        //-             #faq-sub4-4.panel-collapse.collapse
                        //-                 .panel-body
                        //-                 | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        //-         .panel.panel-default.panel-faq
                        //-             .panel-heading
                        //-                 a(data-toggle="collapse" data-parent="#accordion-4" href="#faq-sub4-5")
                        //-                     h4.panel-title
                        //-                         | FAQ Item Category #5
                        //-                         span.pull-right
                        //-                             i.fa.fa-plus
                        //-             #faq-sub4-5.panel-collapse.collapse
                        //-                 .panel-body
                        //-                 | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        //- br
