html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="all,follow")
    title Kvet Client Forgot Password
    link(rel="shortcut icon" href="/img/favicon.ng")
    // global stylesheets
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
    link(rel="stylesheet" href="/admin/css/bootstrap.min.css")
    link(rel="stylesheet" href="/admin/font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/admin/css/font-icon-style.css")
    link#theme-stylesheet(rel="stylesheet" href="/admin/css/style.default.css")
    // Core stylesheets
    link(rel="stylesheet" href="/admin/css/pages/login.css")
    script(type="text/javascript" src="https://cdn.weglot.com/weglot.min.js")
    script.
        Weglot.initialize({
        api_key: 'wg_67165334b2bc34d56bda185a04c28be70'
        });
  body
    //
      ====================================================
      PAGE CONTENT
      ======================================================
    section.hero-area
      .overlay
      .container
        .row
          .col-md-12
            .contact-h-cont
              h3.text-center
                img.img-fluid(src="/img/mainlogo.png" alt="")
              br
              h4.text-center FORGOT PASSWORD
              form(method="POST", action='/client/pswd/forgotpswd')
                .form-group
                  label(for="email") Please enter your email (confirm reset from your mail box)
                  input#username.form-control(type="email" placeholder="Enter registered e-mail" name="email")

                != messages('message', locals)
                .container
                    if errors
                        each error, i in errors
                            div(class="alert alert-danger") #{error.msg}
                button.btn.btn-general.btn-blue(type="submit")
                  i(fa="" fa-right-arrow="")
                  | RESET PASSWORD
                //- a(href="/" class="homelink")  Back To Home Page
    // Global Javascript
    script(src="/admin/js/jquery.min.js")
    script(src="/admin/js/tether.min.js")
    script(src="/admin/js/bootstrap.min.js")
