extends layout

block content

    //
     ====================================================
        HOME-P
        ======================================================
    #home-p.home-p.pages-head1.text-center
        .container
            h1.wow.fadeInUp(data-wow-delay='0.1s') WE ARE EUROPE'S LEADING SOFTWARE FOR FINDING CLEANERS AND CLIENTS
            p Discover more about us
    // /end container
    //
        ====================================================
        ABOUT-P1
        ======================================================
    section#about-p1
        .container
            .row
                .col-md-8
                    .about-p1-cont
                    h1 What is Květ Služeb (Bloom Services)?
                    p
                        | květ služeb (Bloom services) is the world's leading online market for the provision of household services. This means that we bring together independent cleaning staff and customers via the květ služeb (Bloom services) platform.

                    p
                        | As a self-employed cleaner, you can get new cleaning offers quickly and flexibly via the květ appointment platform. Being self-employed means you do not have to look for job opportunities or sit down to think on how to write cover letter(s). On the květ služeb (Bloom services) platform, you have access to a broad range of customer base and are independent of individual client(s).
                .col-md-4
                    .about-p1-img
                    img.img-fluid.wow.fadeInUp(src='/img/ipad-tablet.png' data-wow-delay='0.1s' alt='...')
    //
        ====================================================
        ABOUT-P2
        ======================================================
    section.about-p2.bg-gradiant
        .container-fluid
            .row
                .about-p2-heading
                    h1.cl-white Květ’s (Bloom’s) success worldwide
                    .heading-border-light.bg-white
            .row
                .col-md-4.col-sm-12
                    .about-p2-cont.cl-white
                    img.img-fluid.wow.fadeInUp(src='/img/pic17.jpg' data-wow-delay='0.1s' alt='...')
                .col-md-4
                    .about-p2-cont.cl-white.wow.fadeInUp(data-wow-delay='0.3s')
                    h5 FOR OUR CUSTOMERS
                    p.cl-white
                        | Květ’s (Bloom’s) is already revolutionizing the household E-services market in more than 20 countries with this model. In the meantime, hundreds of thousands of households around the world have found an independent cleaner on the Květ’s (Bloom’s) platform.

                .col-md-4
                    .about-p2-cont.cl-white.wow.fadeInUp(data-wow-delay='0.5s')
                    h5 FOR OUR CLEANERS
                    p.cl-white
                        | More than 95 percent of customers book regular cleaning, which takes place weekly or biweekly or once-off. Due to this high demand, newly registered cleaning staffs are also offered orders in a timely manner.

    //
        ====================================================
        ABOUT-P3
        ======================================================
    section#story.about-p3
        .container
            .row
                .col-md-6
                    .story-himg.story-himg-middle-u
                        img.img-fluid.wow.fadeInUp(src='/img/pic2.jpg' data-wow-delay='0.1s' alt='')
                .col-md-6
                    .story-desc.story-desc-middle
                    h3 Professional Service
                    .heading-border-light
                    p
                        | Number one in our priority list is the success of our cleaners in delivering the promised and expected value for your money.
                    p
                        | We don't joke with our job and it is very vital for us to always deliver as is expected from us. We endeavour to work towards the best testimonial(s).

        .container
            .row
                .col-md-6
                    .story-desc
                        h3 Environmental Bliss
                        .heading-border-light
                        p
                            | Our Business operates in more than two countries across five continents, with a mission 'To improve the quality of life of the communities we serve globally, by connecting quality cleaning services to those who need it. Bringing the bloom out of every environment.
                        p
                            | Our long term goal is getting every homes, offices, hotels, hospitals in the community clean, taking up other chores you would like us to help you with and creating employment opportunities. We give our cleaners the opportunity to state how much they think their services are worth and we take it to heart that all of our cleaners live up to the task. In the same vein, our customers/clients have been very cooperative in bringing this to reality.
                .col-md-6
                    .story-himg
                        img.img-fluid.wow.fadeInUp(src='/img/pic4.jpg' data-wow-delay='0.1s' alt='')

    //====================================================
        NEWS
        ======================================================
    //- section#comp-offer
    //-     .container-fluid
    //-         .row
    //-             .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.2s')
    //-                 h2 Latest News
    //-                     .heading-border-light
    //-                 button.btn.btn-general.btn-green(role='button') See More
    //-             .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.4s')
    //-                 .desc-comp-offer-cont
    //-                 .thumbnail-blogs
    //-                     .caption
    //-                     i.fa.fa-chain
    //-                     img.img-fluid(src='/img/news/news-1.jpg' alt='...')
    //-                 h3 Pricing Strategies for Product
    //-                 p.desc
    //-                     | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from Business box.
    //-                 a(href='#')
    //-                     i.fa.fa-arrow-circle-o-right
    //-                     |  Learn More
    //-             .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.6s')
    //-                 .desc-comp-offer-cont
    //-                 .thumbnail-blogs
    //-                     .caption
    //-                     i.fa.fa-chain
    //-                     img.img-fluid(src='/img/news/news-9.jpg' alt='...')
    //-                 h3 Design Exhibitions of 2017
    //-                 p.desc
    //-                     | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from Business box.
    //-                 a(href='#')
    //-                     i.fa.fa-arrow-circle-o-right
    //-                     |  Learn More
    //-             .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.8s')
    //-                 .desc-comp-offer-cont
    //-                 .thumbnail-blogs
    //-                     .caption
    //-                     i.fa.fa-chain
    //-                     img.img-fluid(src='/img/news/news-12.jpeg' alt='...')
    //-                 h3 Exciting New Technologies
    //-                 p.desc
    //-                     | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from Business box.
    //-                 a(href='#')
    //-                     i.fa.fa-arrow-circle-o-right
    //-                     |  Learn More
