extends layout

block content

    //
     ====================================================
        HOME-P
        ======================================================
    #home-p.home-p.pages-head1.text-center
        .container
            h1.wow.fadeInUp(data-wow-delay='0.1s') Germany's leading software for finding cleaners
            p Discover more about us
    // /end container
    //
        ====================================================
        ABOUT-P1
        ======================================================
    section#about-p1
        .container
            .row
                .col-md-8
                    .about-p1-cont
                    h1 The Kvet Sluzeb Software
                    p
                        | Our Business operates in more than two countries across five continents, with a mission &apos;To improve the quality of life of the communities we serve globally, by connecting qulaity cleaning services to those who need it&apos; bringing the bloom out of envery environment.
                    p
                        | We have a long term goal of getting every community clean and getting jobless people easily employed profitably. We give our cleaners the opportunity to state how much they think their services are worth and we take it to heart that seevral cleaners live up to the task. In the same vein, the house owners have been very cooperative in bringing this to bare.
                .col-md-4
                    .about-p1-img
                    img.img-fluid.wow.fadeInUp(src='img/ipad-tablet.png' data-wow-delay='0.1s' alt='...')
    //
        ====================================================
        ABOUT-P2
        ======================================================
    section.about-p2.bg-gradiant
        .container-fluid
            .row
                .about-p2-heading
                    h1.cl-white global leader in cleaning services
                    .heading-border-light.bg-white
            .row
                .col-md-4.col-sm-12
                    .about-p2-cont.cl-white
                    img.img-fluid.wow.fadeInUp(src='img/pic2.jpg' data-wow-delay='0.1s' alt='...')
                .col-md-4
                    .about-p2-cont.cl-white.wow.fadeInUp(data-wow-delay='0.3s')
                    h5 iNTERIOR AND EXTERIOR BLOOM
                    p.cl-white
                        | The most impressive interior and exterior cleaners can be difficult to find and creating a flexible schedule for cleaning can be difficult as well. However, we run a system that is never void of business plans to cover the lapses of people.
                .col-md-4
                    .about-p2-cont.cl-white.wow.fadeInUp(data-wow-delay='0.5s')
                    h5 PROFESSIONAL RELATIONSHIPS
                    p.cl-white
                        | We ensure that all cleaners are sufficiently trained to be effective and efficient for their jobs and the customer must give a review of the cleaner before the payment is made from their account and into the account of the cleaner.
    //
        ====================================================
        ABOUT-P3
        ======================================================
    section#story.about-p3
        .container
            .row
                .col-md-6
                    .story-himg.story-himg-middle-u
                        img.img-fluid.wow.fadeInUp(src='img/pic2.jpg' data-wow-delay='0.1s' alt='')
                .col-md-6
                    .story-desc.story-desc-middle
                    h3 Professional Service
                    .heading-border-light
                    p
                        | Number one in our priority list is the success of our cleaners in delivering the promised and expected value. We don't joke with our job and it is very vital for us to always deliver as is expected from us. We want and work towards a good testimony
                    p
                        | Various versions have evolved over the years, sometimes will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.

        .container
            .row
                .col-md-6
                    .story-desc
                        h3 Environmental Bliss
                        .heading-border-light
                        p
                            | Our Business operates in more than two countries across five continents, with a mission &apos;To improve the quality of life of the communities we serve globally, by connecting qulaity cleaning services to those who need it&apos; bringing the bloom out of every environment search for &apos;lorem ipsum&apos; will uncover many web sites still in their infancy.
                        p
                            | We have a long term goal of getting every community clean and getting jobless people easily employed profitably. We give our cleaners the opportunity to state how much they think their services are worth and we take it to heart that seevral cleaners live up to the task. In the same vein, the house owners have been very cooperative in bringing this to bare.
                .col-md-6
                    .story-himg
                        img.img-fluid.wow.fadeInUp(src='img/pic4.jpg' data-wow-delay='0.1s' alt='')

    //====================================================
        NEWS
        ======================================================
    //- section#comp-offer
    //-     .container-fluid
    //-         .row
    //-             .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.2s')
    //-                 h2 Latest News
    //-                     .heading-border-light
    //-                 button.btn.btn-general.btn-green(role='button') See More
    //-             .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.4s')
    //-                 .desc-comp-offer-cont
    //-                 .thumbnail-blogs
    //-                     .caption
    //-                     i.fa.fa-chain
    //-                     img.img-fluid(src='img/news/news-1.jpg' alt='...')
    //-                 h3 Pricing Strategies for Product
    //-                 p.desc
    //-                     | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from Business box.
    //-                 a(href='#')
    //-                     i.fa.fa-arrow-circle-o-right
    //-                     |  Learn More
    //-             .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.6s')
    //-                 .desc-comp-offer-cont
    //-                 .thumbnail-blogs
    //-                     .caption
    //-                     i.fa.fa-chain
    //-                     img.img-fluid(src='img/news/news-9.jpg' alt='...')
    //-                 h3 Design Exhibitions of 2017
    //-                 p.desc
    //-                     | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from Business box.
    //-                 a(href='#')
    //-                     i.fa.fa-arrow-circle-o-right
    //-                     |  Learn More
    //-             .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.8s')
    //-                 .desc-comp-offer-cont
    //-                 .thumbnail-blogs
    //-                     .caption
    //-                     i.fa.fa-chain
    //-                     img.img-fluid(src='img/news/news-12.jpeg' alt='...')
    //-                 h3 Exciting New Technologies
    //-                 p.desc
    //-                     | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from Business box.
    //-                 a(href='#')
    //-                     i.fa.fa-arrow-circle-o-right
    //-                     |  Learn More
