extends layout

block content
        //
            ====================================================
            HOME-P
            ======================================================
        #home-p.home-p.pages-head2.text-center
            .container
                h1.wow.fadeInUp(data-wow-delay="0.1s") We offer a huge opportunity for growth
                p Careers
        // /end container
        //
            ====================================================
            CAREER-P1
            ======================================================
        section#about.career-p1.about
            .container
                .row.title-bar
                    .col-md-12
                        h1.wow.fadeInUp Come work with us
                        .heading-border
                        p.wow.fadeInUp(data-wow-delay="0.4s") We are a bunch of people who embody the united spirit of our Team Adventure.
            .container
                .row
                    .col-md-6
                        .career-p1-himg
                            img.img-fluid.wow.fadeInUp(src="img/image-4.jpg" data-wow-delay="0.1s" alt="")
                    .col-md-6
                        .career-p1-desc
                            h4 We Make from the Best
                            .heading-border-light
                            p
                                | We are a bunch of people who embody the united spirit of our Team Adventure. While you are working your hardest on opportunities that will define your career, Businessbox makes sure your environment provides for you
                            p
                                | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years.
                            ul
                                li
                                    i.fa.fa-arrow-circle-o-right
                                    |  Champion the Mission.
                                li
                                    i.fa.fa-arrow-circle-o-right
                                    |  Great Career Options.
                                li
                                    i.fa.fa-arrow-circle-o-right
                                    |  Full flexiblity of life.

         //
            ====================================================
            CAREER-P2
            ======================================================
        .overlay-career-p2
            section#thought.bg-parallax.career-p2-bg
                .container
                    #row.row.title-bar-career-p2
                        .col-md-4
                            h1 100%
                        .col-md-8
                            p.wow.fadeInUp(data-wow-delay="0.4s")
                            | Businessbox will deliver value to all the stakeholders and will attain excellence and leadership through such delivery of value. We will strive to support the stakeholders in all activities related to us.
            //
                ====================================================
                CAREER-P3
                ======================================================
        .overlay-career-p3
            section#career-p3
                .container-fluide
                    .row.career-p3-title
                        .col-md-12
                            h3.text-center Our Business Process
                    .row
                        .col-md-3.col-sm-6
                            .career-p3-cont.text-center
                                i.fa.fa-superpowers
                                h5 Plan
                        .col-md-3.col-sm-6
                            .career-p3-cont.text-center
                                i.fa.fa-snowflake-o
                                h5 Seamless
                        .col-md-3.col-sm-6
                            .career-p3-cont.text-center
                                i.fa.fa-send-o
                                h5 Care
                        .col-md-3.col-sm-6
                            .career-p3-cont.text-center
                                i.fa.fa-sun-o
                                h5 Transit
                        .col-md-3.col-sm-6
                            .career-p3-cont.text-center
                                i.fa.fa-crosshairs
                                h5 Vacation
                        .col-md-3.col-sm-6
                            .career-p3-cont.text-center
                                i.fa.fa-gift
                                h5 Enjoy
                        .col-md-3.col-sm-6
                            .career-p3-cont.text-center
                                i.fa.fa-plane
                                h5 Celebrate
                        .col-md-3.col-sm-6
                            .career-p3-cont.text-center
                                i.fa.fa-life-buoy
                                h5 Contrary
