extends layout

block content
        //
            ====================================================
            HOME-P
            ======================================================
        #home-p.home-p.pages-head2.text-center
            .container
                h1.wow.fadeInUp(data-wow-delay="0.1s") We offer a huge opportunity for growth
                p Careers
        // /end container
        //
            ====================================================
            CAREER-P1
            ======================================================
        section#about.career-p1.about
            .container
                .row.title-bar
                    .col-md-12
                        h1.wow.fadeInUp Come work with us
                        .heading-border
                        p.wow.fadeInUp(data-wow-delay="0.4s") We connect you to opportunities
            .container
                .row
                    .col-md-6
                        .career-p1-himg
                            img.img-fluid.wow.fadeInUp(src="/img/pic1.jpg" data-wow-delay="0.1s" alt="")
                    .col-md-6
                        .career-p1-desc
                            h4 Become Slef-Employed with Květ
                            .heading-border-light
                            p
                                | Květ is an Europe-based cleaning service agency that provides you with the opportunity to become self-employed as a cleaner. You would work based on how comfortable you are with the conditions of each cleaning request we send to you.
                            p
                                | You don't have to worry about getting customers as we would make them readily available for you. You can access your dashboard from our mobile app or our website and see the great opportunities we provide you. It would cost you a little percentage on each cleaning service that you provide.
                            ul
                                li
                                    i.fa.fa-arrow-circle-o-right
                                    |  Become Self-Employed
                                li
                                    i.fa.fa-arrow-circle-o-right
                                    |  Work at your own pace
                                li
                                    i.fa.fa-arrow-circle-o-right
                                    |  increae your earning power.

        //
            ====================================================
            CAREER-P2
            ======================================================
        .overlay-career-p2
        section#thought.bg-parallax.career-p2-bg
            .container
                #row.row.title-bar-career-p2
                    .col-md-4
                        h1 100%
                    .col-md-8
                        p.wow.fadeInUp(data-wow-delay="0.4s")
                            a(href='/cleaner/register/page').careerbtn
                                button.btn.btn-general.btn-green.wow.fadeInUp.careerbtn(role='button') Register As A Cleaner Now
        //
            ====================================================
            CAREER-P3
            ======================================================
        .overlay-career-p3
        section#career-p3
            .container-fluide
                .row.career-p3-title
                    .col-md-12
                        h3.text-center Our Business Process
                .row
                    .col-md-3.col-sm-6
                        .career-p3-cont.text-center
                            i.fa.fa-superpowers
                            h5 Register Seamlessly
                    .col-md-3.col-sm-6
                        .career-p3-cont.text-center
                            i.fa.fa-snowflake-o
                            h5 Clean
                    .col-md-3.col-sm-6
                        .career-p3-cont.text-center
                            i.fa.fa-send-o
                            h5 Earn
                    .col-md-3.col-sm-6
                        .career-p3-cont.text-center
                            i.fa.fa-gift
                            h5 Enjoy
                    //- .col-md-3.col-sm-6
                    //-     .career-p3-cont.text-center
                    //-         i.fa.fa-crosshairs
                    //-         h5 Vacation
                    //- .col-md-3.col-sm-6
                    //-     .career-p3-cont.text-center
                    //-         i.fa.fa-gift
                    //-         h5 Enjoy
                    //- .col-md-3.col-sm-6
                    //-     .career-p3-cont.text-center
                    //-         i.fa.fa-plane
                    //-         h5 Celebrate
                    //- .col-md-3.col-sm-6
                    //-     .career-p3-cont.text-center
                    //-         i.fa.fa-life-buoy
                    //-         h5 Contrary
