extends layout

block content
    //
        ====================================================
        HOME-P
        ======================================================
    #home-p.home-p.pages-head1.text-center
        .container
            h1.wow.fadeInUp(data-wow-delay='0.1s') Our Most Frequently asked Questions
            p FAQ
    // /end container
    //
        ====================================================
        FAQ-P1
        ======================================================
    section#faq-p1.team-p1
        .container
            .row
                .col-md-12
                    .faq-p1-cont
                        .service-h-tab
                            nav#myTab.nav.nav-tabs(role='tablist')
                                a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-home' role='tab' aria-controls='nav-home' aria-expanded='true') About Květ
                                a#nav-profile-tab.nav-item.nav-link(data-toggle='tab' href='#nav-profile' role='tab' aria-controls='nav-profile') Client
                                a#my-profile-tab.nav-item.nav-link(data-toggle='tab' href='#my-profile' role='tab' aria-controls='my-profile') Cleaners
                            #nav-tabContent.tab-content
                                #nav-home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name What is Květ?
                                        .toggle-inner
                                            p
                                            | Květ is the leading e-service market for cleaning services based in Germany and Czech Republic. We facilitate customers like yourself with self-employed and non-self-employed cleaners. Through Květ, you can book a cleaner in 60 seconds. Once you have booked a cleaner, you are able to arrange with the cleaner what specific cleaning tasks you would like them to undertake, for example ironing or oven cleaning, also depending on your tasks selection or specification.
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name How does pricing work?
                                        .toggle-inner
                                            p
                                            | Fair pricing is very important to us. All of the cleaners registered on our platform set their own hourly rates, and so you as a customer can choose your price range by selecting cleaners. During the booking process, you can compare profiles and prices and find cleaners in a price range that suits you best. We will only ever match you with cleaners that fit your desired price range.
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name What does Květ say about Liability insurance?
                                        .toggle-inner
                                            p
                                            | Liability insurance covers all damages above €450. For damages below €450 or the first €450 of any larger damage, you must first reach out to your cleaner and align with them on the compensation that you may expect. You can find the cleaner contact details in the confirmation email that you received prior to the cleaning. Please ensure to attach all required documentation in order to proceed with your claim.
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name Got more questions?
                                        .toggle-inner
                                            p
                                            | Please contact us
                                    //- .toggle
                                    //-     .toggle-title
                                    //-         h3
                                    //-             i
                                    //-             span.title-name How do reviews work?
                                    //-     .toggle-inner
                                    //-         p
                                    //-         | Perhaps not. Astronomers have been scouring the universe for places where water worlds might have given rise to life, from Europa and Mars in our solar system to planets many light years away. Radio telescopes have been eavesdropping on the heavens and in 1977 a signal bearing the potential hallmarks of an alien message was heard. Astronomers are now able to scan the atmospheres of alien worlds for oxygen and water. The next few decades will be an exciting time to be an alien hunter with up to 60bn potentially habitable planets in our Milky Way alone.
                                    //- .toggle
                                    //-     .toggle-title
                                    //-         h3
                                    //-             i
                                    //-             span.title-name How do I link to a file or folder?
                                    //-     .toggle-inner
                                    //-         p
                                    //-         | Perhaps not. Astronomers have been scouring the universe for places where water worlds might have given rise to life, from Europa and Mars in our solar system to planets many light years away. Radio telescopes have been eavesdropping on the heavens and in 1977 a signal bearing the potential hallmarks of an alien message was heard. Astronomers are now able to scan the atmospheres of alien worlds for oxygen and water. The next few decades will be an exciting time to be an alien hunter with up to 60bn potentially habitable planets in our Milky Way alone.
                                    //- .toggle
                                    //-     .toggle-title
                                    //-         h3
                                    //-             i
                                    //-             span.title-name How do I delete my account?
                                    //-     .toggle-inner
                                    //-         p
                                    //-         | Perhaps not. Astronomers have been scouring the universe for places where water worlds might have given rise to life, from Europa and Mars in our solar system to planets many light years away. Radio telescopes have been eavesdropping on the heavens and in 1977 a signal bearing the potential hallmarks of an alien message was heard. Astronomers are now able to scan the atmospheres of alien worlds for oxygen and water. The next few decades will be an exciting time to be an alien hunter with up to 60bn potentially habitable planets in our Milky Way alone.
                                    //- .toggle
                                    //-     .toggle-title
                                    //-         h3
                                    //-             i
                                    //-             span.title-name How do I change my account settings?
                                    //-     .toggle-inner
                                    //-         p
                                    //-         | Perhaps not. Astronomers have been scouring the universe for places where water worlds might have given rise to life, from Europa and Mars in our solar system to planets many light years away. Radio telescopes have been eavesdropping on the heavens and in 1977 a signal bearing the potential hallmarks of an alien message was heard. Astronomers are now able to scan the atmospheres of alien worlds for oxygen and water. The next few decades will be an exciting time to be an alien hunter with up to 60bn potentially habitable planets in our Milky Way alone.
                                    //- .toggle
                                    //-     .toggle-title
                                    //-         h3
                                    //-             i
                                    //-             span.title-name I forgot my password. How do I reset it?
                                    //-     .toggle-inner
                                    //-         p
                                    //-         | Perhaps not. Astronomers have been scouring the universe for places where water worlds might have given rise to life, from Europa and Mars in our solar system to planets many light years away. Radio telescopes have been eavesdropping on the heavens and in 1977 a signal bearing the potential hallmarks of an alien message was heard. Astronomers are now able to scan the atmospheres of alien worlds for oxygen and water. The next few decades will be an exciting time to be an alien hunter with up to 60bn potentially habitable planets in our Milky Way alone.
                                #nav-profile.tab-pane.fade(role='tabpanel' aria-labelledby='nav-profile-tab')
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name Do I need to do anything before my cleaner arrives
                                        .toggle-inner
                                            p
                                            | Every customer is different and if it’s the cleaner’s first visit to your home, it’s good to give them some guidance. Ideally, jot down a list of cleaning priorities for your cleaner (you can do it per room, or for your entire home). This will help them to focus on the areas that are important to you. When your cleaner arrives, give them a tour and highlight your priorities and any fragile surfaces or items. Don’t forget to show the cleaner where to find your cleaning products and if you have any preferences or surfaces that need special care, make sure to let your cleaner know.
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name Do I need to be home for the booking?
                                        .toggle-inner
                                            p
                                            | We strongly recommend that you are home for the first clean of your booking to show your cleaner around. Some customers choose to give a spare key to their cleaner, but this decision is based on individual preferences. Please remember that Helpling takes no part in the key-handling process
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name What cleaning supplies do I have to provide?
                                        .toggle-inner
                                            p
                                            | We recommend to have the following cleaning supplies at home:
                                            | 	Vacuum cleaner and a mop
                                            | 	Cleaning cloths x 4
                                            | 	Feather duster
                                            | 	Scratch-free sponge
                                            | 	Toilet Cleaner
                                            | 	Limescale remover
                                            | 	All-Purpose cleaner
                                            | 	Fat solvent
                                            | 	Further cleaning supplies are required for additional cleaning services, such as:
                                            | Interior window cleaning: Glass cleaner
                                            | Oven cleaning: Oven cleaner and sponge

                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name What if I don't like my cleaner?
                                        .toggle-inner
                                            p
                                            | We do our best to help you find the right cleaner for your home. However, if for any reason you would like to change your cleaner, you can easily do so in your account and send a new request for another cleaner. It is important to let us know why you would like a replacement so we can then find you the perfect match.
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name Are the cleaners insured in case of damages?
                                        .toggle-inner
                                            p
                                            | Yes, in the unlikely event of damage, you do not have to worry as you are protected from any serious harm. All cleaners are covered by a liability insurance which covers all damages above €350. For damages below €350 or the first €350 of any larger damage, you can of course always directly reach out to the cleaner involved and align with him or her on the compensation that you may expect from them. You can find the cleaner's contact details in the confirmation email that you received prior to the cleaning. To ensure a smooth reimbursement process for the insurance relevant cases above €300, please contact us via this form.
                                    //- .toggle
                                    //-     .toggle-title
                                    //-         h3
                                    //-             i
                                    //-             span.title-name
                                    //-     .toggle-inner
                                    //-         p
                                    //-         | Perhaps not. Astronomers have been scouring the universe for places where water worlds might have given rise to life, from Europa and Mars in our solar system to planets many light years away. Radio telescopes have been eavesdropping on the heavens and in 1977 a signal bearing the potential hallmarks of an alien message was heard. Astronomers are now able to scan the atmospheres of alien worlds for oxygen and water. The next few decades will be an exciting time to be an alien hunter with up to 60bn potentially habitable planets in our Milky Way alone.
                                #my-profile.tab-pane.fade(role='tabpanel' aria-labelledby='my-profile-tab')
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name How do I receive cleaning offers?
                                        .toggle-inner
                                            p
                                            | You get the cleaning offers simply by push notification via our app, or e-mail - you decide how! You decide for yourself which offers you would like to accept, so that they fit your everyday life best. ***Email and push notification is free of charge.
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name Who will provide the cleaning tools and substances?
                                        .toggle-inner
                                            p
                                            | Your customer provides the cleaning tools and substances. Before cleaning, tell him or her what cleaning products are available and if important equipment such as a vacuum cleaner or mop is working.
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name Květ (Bloom)  mediates only households or offices?
                                        .toggle-inner
                                            p
                                            | On the Květ (Bloom)  platform, more than 95 percent are mainly private households looking for a suitable cleaning power. Office cleaning, on the other hand, is an exception and is skilled.
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name What does self-employment mean?
                                        .toggle-inner
                                            p
                                            | As a self-employed person, you are your own boss - you decide where, when and what cleaning offers you accept and which prices. In order to work independently in Germany as an individual, you need a trade license . We would like to point out that you have to bear the costs of insurance or taxes. Take care of your health insurance and your taxes. Further information and tips for self-employed cleaning staff can be found in our information portal.
                                    .toggle
                                        .toggle-title
                                            h3
                                                i
                                                span.title-name When and how do I get paid?
                                        .toggle-inner
                                            p
                                            | The payment is free of charge twice a month . The first payout period includes orders from 1-15. of the month and will be paid no later than the 24th of the month. The second payout period includes orders from the 16th to the end of the month and will be paid no later than the 9th of the following month. The money will be transferred directly to the account indicated in your profile. Always update your account details.
                                    //- .toggle
                                    //-     .toggle-title
                                    //-         h3
                                    //-             i
                                    //-             span.title-name How do I use shipping profiles?
                                    //-     .toggle-inner
                                    //-         p
                                    //-         | Perhaps not. Astronomers have been scouring the universe for places where water worlds might have given rise to life, from Europa and Mars in our solar system to planets many light years away. Radio telescopes have been eavesdropping on the heavens and in 1977 a signal bearing the potential hallmarks of an alien message was heard. Astronomers are now able to scan the atmospheres of alien worlds for oxygen and water. The next few decades will be an exciting time to be an alien hunter with up to 60bn potentially habitable planets in our Milky Way alone.

    //- //
    //-     ====================================================
    //-     CONTACT HOME
    //-     ======================================================
    //- .overlay-contact-h
    //- section#contact-h.bg-parallax.contact-h-bg
    //- .container
    //-     .row
    //-     .col-md-6
    //-         .contact-h-cont
    //-         h3.cl-white Continue The Conversation
    //-         br
    //-         form
    //-             .form-group.cl-white
    //-             label(for='name') Your Name
    //-             input#name.form-control(type='text' aria-describedby='nameHelp' placeholder='Enter name')
    //-             .form-group.cl-white
    //-             label(for='exampleInputEmail1') Email address
    //-             input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp' placeholder='Enter email')
    //-             .form-group.cl-white
    //-             label(for='subject') Subject
    //-             input#subject.form-control(type='text' aria-describedby='subjectHelp' placeholder='Enter subject')
    //-             .form-group.cl-white
    //-             label(for='message') Message
    //-             textarea#message.form-control(rows='3')
    //-             button.btn.btn-general.btn-white(role='button')
    //-             i(fa='' fa-right-arrow='')
    //-             | GET CONVERSATION
    //
        ====================================================
        NEWS
        ======================================================
    //- section#comp-offer
    //- .container-fluid
    //-     .row
    //-     .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.2s')
    //-         h2 Latest News
    //-         .heading-border-light
    //-         button.btn.btn-general.btn-green(role='button') See More
    //-     .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.4s')
    //-         .desc-comp-offer-cont
    //-         .thumbnail-blogs
    //-             .caption
    //-             i.fa.fa-chain
    //-             img.img-fluid(src='img/news/news-1.jpg' alt='...')
    //-         h3 Pricing Strategies for Product
    //-         p.desc
    //-             | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from Business box.
    //-         a(href='#')
    //-             i.fa.fa-arrow-circle-o-right
    //-             |  Learn More
    //-     .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.6s')
    //-         .desc-comp-offer-cont
    //-         .thumbnail-blogs
    //-             .caption
    //-             i.fa.fa-chain
    //-             img.img-fluid(src='img/news/news-9.jpg' alt='...')
    //-         h3 Design Exhibitions of 2017
    //-         p.desc
    //-             | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from Business box.
    //-         a(href='#')
    //-             i.fa.fa-arrow-circle-o-right
    //-             |  Learn More
    //-     .col-md-3.col-sm-6.desc-comp-offer.wow.fadeInUp(data-wow-delay='0.8s')
    //-         .desc-comp-offer-cont
    //-         .thumbnail-blogs
    //-             .caption
    //-             i.fa.fa-chain
    //-             img.img-fluid(src='img/news/news-12.jpeg' alt='...')
    //-         h3 Exciting New Technologies
    //-         p.desc
    //-             | Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from Business box.
    //-         a(href='#')
    //-             i.fa.fa-arrow-circle-o-right
    //-             |  Learn More
