extends layout

block content
  section#home
    #carousel.carousel.slide.carousel-fade(data-ride='carousel')
      // Carousel items
      .carousel-inner
        .carousel-item.active.slides
          .overlay
          .slide-1
          .hero
            hgroup.wow.fadeInUp
              h1
                | We Clean
                span
                  a.typewrite(href='' data-period='2000' data-type='[ " Homes", " offices", " ANYWHERE!"]')
                    span.wrap
              h3 Connect to the most affordable cleaning service today!
            a(href='/client/booking')
              button.btn.btn-general.btn-green.wow.fadeInUp(role='button') Book A Cleaner Now
  //
    ====================================================
    HOW IT WORKS
    ======================================================
  section#about.about
    .container
      .row.title-bar
        .col-md-12
          h1.wow.fadeInUp HERE&apos;S HOW IT WORKS!
          .heading-border
          //
            <p class="wow fadeInUp" data-wow-delay="0.4s">Kvet Sluzeb Connects you to cleaners in your environment who would make your environment bloom again!</p>
            <div class="title-but"><button class="btn btn-general btn-green" role="button">Read More</button></div>
    // About right side withBG parallax
    .container-fluid
      .row
        .col-md-3.bg-starship
          .about-content-box.wow.fadeInUp(data-wow-delay='0.3s')
            i.fa.fa-envelope
            h5 Sign Up With Your Email
            // <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        .col-md-3.bg-chathams
          .about-content-box.wow.fadeInUp(data-wow-delay='0.5s')
            i.fa.fa-calendar-check-o
            h5 Create Schedule and Customise your cleaning
            // <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        .col-md-3.bg-matisse
          .about-content-box.wow.fadeInUp(data-wow-delay='0.7s')
            i.fa.fa-address-card-o
            h5 Enter your Address
            // <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        .col-md-3.bg-redish
          .about-content-box.wow.fadeInUp(data-wow-delay='0.7s')
            i.fa.fa-credit-card-alt
            h5 Make Payment
            // <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  //
    ====================================================
    STORY
    ======================================================
  section#story
    .container
      .row.title-bar
        .col-md-12
          h1.wow.fadeInUp Our Success Tranformation Story
          .heading-border
    .container
      .row
        .col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay='0.1s')
          .story-descb
            img.img-fluid(src='img/pic1.jpg' alt='...')
            h6 Courteous Services
            p
              | Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
            a(href='#')
              i.fa.fa-arrow-circle-o-right
              |  Read More
        .col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay='0.3s')
          .story-descb
            img.img-fluid(src='img/pic2.jpg' alt='...')
            h6 Maintaining Sanitary
            p
              | Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
            a(href='')
              i.fa.fa-arrow-circle-o-right
              |  Read More
        .col-md-4.col-sm-6.wow.fadeInUp(data-wow-delay='0.5s')
          .story-descb
            img.img-fluid(src='img/pic4.jpg' alt='...')
            h6 Sparkling environments
            p
              | Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don&apos;t look even slightly believable.
            a(href='')
              i.fa.fa-arrow-circle-o-right
              |  Read More
  //
    ====================================================
    WHAT WE DO
    ======================================================
  section.what-we-do.bg-gradiant
    .container-fluid
      .row
        .col-md-3
          h3 What we Do
          .heading-border-light
          p.desc We partner with you to put your environs in its full bloom.
        .col-md-9
          .row
            .col-md-4.col-sm-6
              .what-we-desc
                i.fa.fa-bed
                h6 Bedrooms
                p.desc We make sure your room blooms with the clean it needs
            .col-md-4.col-sm-6
              .what-we-desc
                i.fa.fa-cutlery
                h6 Kitchen
                p.desc Cooking is a pleasure in a clean kitchen and we help with that
            .col-md-4.col-sm-6
              .what-we-desc
                i.fa.fa-briefcase
                h6 Workspace
                p.desc Home workspaces have to be clean for sanity.
            .col-md-4.col-sm-6
              .what-we-desc
                i.fa.fa-shopping-bag
                h6 Storefront
                p.desc No where is to difficult to clean for us
            .col-md-4.col-sm-6
              .what-we-desc
                i.fa.fa-building-o
                h6 Apartments
                p.desc Your home booms when it is clean

            .col-md-4.col-sm-6
              .what-we-desc
                i.fa.fa-hourglass-2
                h6 Time saving
                p.desc We save you the time of cleaning and give you the pleasure to enjoy

  //
    ====================================================
    CLIENT
    ======================================================
  section#client.client
    .container
      .row.title-bar
        .col-md-12
          h1.wow.fadeInUp Our Client Say
          .heading-border
          p.wow.fadeInUp(data-wow-delay='0.4s') Kvet has made my house bloom again. Such excellent and user friendly services
      .row
        .col-md-6.col-sm-12
          .client-cont.wow.fadeInUp(data-wow-delay='0.1s')
            img.img-fluid(src='img/client/avatar-6.jpg' alt='')
            h5 Leesa len
            h6 Single Mother of 3
            i.fa.fa-quote-left
            p
              | The Businessbox service - it helps fill our Business, and increase our show up rate every single time.
        .col-md-6.col-sm-12
          .client-cont.wow.fadeInUp(data-wow-delay='0.3s')
            img.img-fluid(src='img/client/avatar-2.jpg' alt='')
            h5 Dec Bol
            h6 Family man
            i.fa.fa-quote-left
            p
              | Kvet has really helped me make my wife happier by taking the load of cleaning off
  //
    ====================================================
    COMPANY THOUGHT
    ======================================================
  .overlay-thought
  section#thought.bg-parallax.thought-bg
    .container
      #thought-desc.row.title-bar.title-bar-thought.owl-carousel.owl-theme
        .col-md-12
          .heading-border.bg-white
          p.wow.fadeInUp(data-wow-delay='0.4s')
            | The objective of cleaning is not just to clean but to feel happiness within that environment
          h6 Marie Kondo
        .col-md-12.thought-desc
          .heading-border.bg-white
          p.wow.fadeInUp(data-wow-delay='0.4s')
            | Tidying is the act of confronting yourself; clenaning is the act of confronting nature
          h6 Marie Kondo
