extends layout

block content
    //
      ====================================================
      HOME-P
      ======================================================
    #home-p.home-p.pages-head2.text-center
      .container
        h1.wow.fadeInUp(data-wow-delay="0.1s") Businessbox is fully responsive and Clean
        p Our Services
      // /end container
    //
      ====================================================
      BUSINESS-GROWTH-P1
      ======================================================
    section#business-growth-p1.business-growth-p1.bg-gray
      .container
        .row.title-bar
          .col-md-12
            h1.wow.fadeInUp We committed to helping
            .heading-border
            p.wow.fadeInUp(data-wow-delay="0.4s")
              | We committed to helping you maintain your oral healthTooth.We are an innovative company. We develop and design websites for costumers around the world. Our clients are some of the most forward-looking companies in the world.
        .row.wow.animated.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s")
          .col-md-3.col-sm-6.service-padding
            .service-item
              .service-item-icon
                i.fa.fa-paint-brush.fa-3x
              .service-item-title
                h3 Web Design
              .service-item-desc
                p Laborum adipisicing do amet commodo occaecat do amet commodo occaecat.
                .content-title-underline-light
          .col-md-3.col-sm-6.service-padding
            .service-item
              .service-item-icon
                i.fa.fa-laptop.fa-3x
              .service-item-title
                h3 Web Devlopment
              .service-item-desc
                p Laborum adipisicing do amet commodo occaecat do amet commodo occaecat.
                .content-title-underline-light
          .col-md-3.col-sm-6.service-padding
            .service-item
              .service-item-icon
                i.fa.fa-table.fa-3x
              .service-item-title
                h3 Mobile Apps
              .service-item-desc
                p Laborum adipisicing do amet commodo occaecat do amet commodo occaecat.
                .content-title-underline-light
          .col-md-3.col-sm-6.service-padding
            .service-item.right-bord
              .service-item-icon
                i.fa.fa-search.fa-3x
              .service-item-title
                h3 SEO Optimization
              .service-item-desc
                p Laborum adipisicing do amet commodo occaecat do amet commodo occaecat.
                .content-title-underline-light
    //
      ====================================================
      FINANCIAL-P1
      ======================================================
    section#financial-p1.bg-parallax.financial-p3-bg
      .overlay-financial-p1
      .container-fluid
        .row
          .col-md-6.financial-p1-pos
            .financial-p1-cont
              a(href="#")
                b Richtech Technology
              h3 Excellent Strategies For
              p
                | Businessbox will deliver value to all the stakeholders and will attain excellence and leadership through such delivery of value. We will strive to support the stakeholders in all activities related to us. Businessbox provide great things.Everyone defines success differently – as much as there are people, there are different opinions. Number one in our priority list is the success of our students, alumni and their employers.
              button.btn.btn-general.btn-white(role="button") Contact Us
          .col-md-6.financial-p1-emp-img
    section#financial-p1.bg-parallax.financial-p2-bg
      .overlay-financial-p1
      .container-fluid
        .row
          .col-md-6.financial-p1-emp-img
          .col-md-6.financial-p1-pos.financial-p1-emp-desc-d
            .financial-p1-cont
              a(href="#")
                b Richtech Technology
              h3 Transfer Financial Services
              p
                | Businessbox will deliver value to all the stakeholders and will attain excellence and leadership through such delivery of value. We will strive to support the stakeholders in all activities related to us. Businessbox provide great things.Everyone defines success differently – as much as there are people, there are different opinions. Number one in our priority list is the success of our students, alumni and their employers.
              button.btn.btn-general.btn-white(role="button") Contact Us
    //
      ====================================================
      FINANCIAL-P5
      ======================================================
    section.what-we-do.bg-gradiant.financial-p5
      .container
        .row.title-bar
          .col-md-12
            h1.wow.fadeInUp.cl-white Global Business Services
            .heading-border.bg-white
        .row
          .col-md-12
            .row
              .col-md-4.col-sm-6
                .what-we-desc.wow.fadeInUp(data-wow-delay="0.1s")
                  i.fa.fa-bar-chart
                  h6 Professional Growth
                  p.desc
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
              .col-md-4.col-sm-6
                .what-we-desc.wow.fadeInUp(data-wow-delay="0.1s")
                  i.fa.fa-bullseye
                  h6 Research & Development
                  p.desc
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
              .col-md-4.col-sm-6
                .what-we-desc.wow.fadeInUp(data-wow-delay="0.1s")
                  i.fa.fa-star-o
                  h6 Valuable Services
                  p.desc
                    | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
    //
      ====================================================
      FINANCIAL-P6
      ======================================================
    section#financial-p6.financial-p6
      .container
        .row
          .col-md-6
            .financial-p6-img
              img.img-fluid.wow.fadeInUp(src="img/image-3.jpg" data-wow-delay="0.1s" alt="...")
              img(src="" alt="")
          .col-md-6
            .financial-p6-cont
              h2.wow.fadeInUp Creative Idea Businessbox
              .heading-border-light
              p
                | Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              button.btn.btn-general.btn-white(role="button") Contact
